@import '../../styles/variables.scss';

.pagination {
  display: flex;
  justify-content: center;
  margin-top: 30px;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;

  &__button {
    padding: 8px 14px;
    border: none;
    border-radius: 6px;
    background: $white-80;
    color: $blue;
    cursor: pointer;
    transition: 0.2s;
    border: 1px solid $black;

    &:hover:not(:disabled) {
      background: $white-50;
      border: 1px solid $blue;
    }

    &:disabled {
      opacity: 0.4;
      cursor: default;
    }

    &--active {
      background: white;
      color: $black;
      font-weight: bold;
    }
  }

  &__buttons-wrapper {
    display: flex;
    gap: 8px;
    margin-inline: 40px;
  }

  &__separator {
    padding-inline: 6px;
    display: inline-block;
    align-self: end;
  }
}
