@import '../../styles/variables.scss';
.pagination {
  display: flex;
  justify-content: center;
  gap: 8px;
  margin-top: 30px;
  align-items: center;

  &__button {
    padding: 8px 14px;
    border: none;
    border-radius: 6px;
    background: $white-80;
    color: $blue;
    cursor: pointer;
    transition: 0.2s;
    border: 1px solid $black;

    &:first-child {
      margin-right: 40px;
    }

    &:last-child {
      margin-left: 40px;
    }

    &:hover:not(:disabled) {
      background: $white-50;
      border: 1px solid $blue;
    }

    &:disabled {
      opacity: 0.4;
      cursor: default;
    }

    &--active {
      background: white;
      color: $black;
      font-weight: bold;
    }

    &__separator {
      padding-inline: 6px;
      opacity: 0.7;
    }
  }
}
