@import './variables.scss';

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  border: none;
  box-sizing: border-box;
}

body,
html {
  height: 100%;
}

body {
  line-height: 1;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
  background-color: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: inherit;
  color: inherit;
  font-weight: inherit;
}
