@import '../../styles/variables.scss';

.input {
  display: block;
  max-width: 80%;
  margin: 0 auto;
  padding: 10px 14px;
  margin-top: 40px;
  margin-bottom: 60px;
  border-radius: 4px;
  font-size: 16px;
  border: 1px solid $blue;
  background-color: rgba(0, 0, 0, 0.4);
  color: $white;
  cursor: pointer;
  outline: none;

  &:hover {
    border-color: $blue-70;
  }
}
