@import '../../styles/variables.scss';

.input {
  display: block;
  max-width: 80%;
  min-width: 30%;
  padding: 12px 16px;
  margin: 40px auto 60px;
  border-radius: 4px;
  font-size: 16px;
  border: 1px solid $blue;
  background-color: rgba(0, 0, 0, 0.4);
  color: $white;
  cursor: pointer;
  outline: none;

  &:hover {
    border-color: $blue-70;
  }
}
