@import './styles/variables.scss';

.app {
  height: 100vh;
  width: 100vw;
  background-image: url(../public/main-bg.jpeg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  font-family: 'IBM Plex Sans', sans-serif;
  color: $white;
}
