@import './styles/variables.scss';

.app {
  min-height: 100vh;
  width: 100vw;
  background-image: url(../public/main-bg.jpeg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  font-family: 'IBM Plex Sans', sans-serif;
  color: $white;

  &__content {
    padding: 40px 16px 0 16px;
    max-width: 1440px;
    margin: 0 auto;

    @media (min-width: 767px) {
      padding-inline: 40px;
    }

    @media (min-width: 1024px) {
      padding-inline: 80px;
    }
  }
}
